html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#homepage {
  /* background-color: rgba(224, 0, 50, 0.5); */
  height: 100%;
}

#home-content {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#home-content h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 54pt;
  margin-bottom: 10px
}

#home-content #buttons {
  text-align: center;
}

#home-content #buttons .login {
  display: inline-block;
  background-color: #9C27B0;
  margin: 0px 5px;
  color: white;
  font-family: 'Roboto';
}

#home-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#event-header {
  background-color: #9C27B0
}

.search-input {
  display: inline;
  margin: 0 auto;
  width: 500px;
}

.search-input paper-input-container .input-content.paper-input-container label {
  color: #E3E3E3 !important;
}

.search-input paper-input-container .unfocused-line.paper-input-container {
  background: #E3E3E3 !important;
}

.search-input paper-input-container .input-content.paper-input-container input {
  color: #ffffff !important;
}

.search-input paper-input-container .focused-line.paper-input-container {
  background: #ffffff !important;
}

.card {
  height: 290px;
  position: absolute;
  width: 290px;
  height: 290px;
  display: inline;
  margin-top: 80px;
  background-color: #ffffff;
}

#deck ul{
  /* max-width: 1280px; */
  height: 100%;
}

#deck ul li {
  list-style: none;
}
