html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#homepage {
  background-color: rgba(224, 0, 50, 0.5);
  height: 100%;
}

#home-content {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#home-content h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 54pt;
  margin-bottom: 10px
}

#home-content .click-me {
  margin: 0 auto;
  display: block;
  width: 200px;
  background-color: #F44336;
  color: white;
  font-family: 'Roboto';
}

#home-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#dash-header {
  background-color: rgba(224, 0, 50, 1);
}

.card {
  width: 290px;
  float: left;
}

#deck ul li {
  list-style: none;
}
