html,
body {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

#homepage {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%; }
  #homepage paper-toast {
    font-family: 'Roboto';
    left: auto;
    right: 12px;
    background-color: #C62828 !important; }

#home-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

#home-content {
  top: 50%;
  position: relative;
  transform: translateY(-50%); }
  #home-content h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 54pt;
    text-shadow: #333333 2px 2px 3px; }
  #home-content p {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    margin-bottom: 20px; }

#home-login {
  background-color: white;
  font-family: 'Roboto';
  width: 600px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 20px; }
  #home-login paper-tabs {
    background-color: #9C27B0;
    color: #ffffff;
    margin-bottom: 10px; }
    #home-login paper-tabs #ink.paper-tab {
      color: #2196F3; }
    #home-login paper-tabs #selectionBar.paper-tabs {
      background-color: #2196F3; }
  #home-login paper-input paper-input-container {
    margin: 0px 20px; }
    #home-login paper-input paper-input-container .input-content.label-is-highlighted.paper-input-container label {
      color: #2196F3 !important; }
    #home-login paper-input paper-input-container .focused-line.paper-input-container {
      background: #2196F3 !important; }
  #home-login paper-button {
    color: white;
    display: block;
    background-color: #9C27B0;
    margin: 20px 20px 0px 20px; }

#event-header {
  background-color: #9C27B0;
  font-family: 'Roboto'; }
  #event-header #search-box {
    width: 100%;
    display: block;
    text-align: center; }
    #event-header #search-box #search {
      display: inline-block;
      margin-left: -38px; }
      #event-header #search-box #search .search-input {
        width: 700px;
        display: inline-block;
        text-align: left; }
        #event-header #search-box #search .search-input paper-input-container .input-content.paper-input-container label {
          color: #E3E3E3 !important; }
        #event-header #search-box #search .search-input paper-input-container .unfocused-line.paper-input-container {
          background: #E3E3E3 !important; }
        #event-header #search-box #search .search-input paper-input-container .input-content.paper-input-container input {
          color: #ffffff !important; }
        #event-header #search-box #search .search-input paper-input-container .focused-line.paper-input-container {
          background: #ffffff !important; }
    #event-header #search-box paper-icon-button {
      overflow: visible;
      margin-left: 3px;
      color: white;
      line-height: 0; }

#search-results {
  width: 100%;
  position: absolute;
  top: 55px;
  max-width: 700px;
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  z-index: 10000; }
  #search-results paper-material {
    height: 100%;
    background-color: #ffffff; }
    #search-results paper-material #results {
      height: 400px;
      overflow-y: scroll; }
      #search-results paper-material #results li {
        list-style: none;
        min-height: 65px;
        padding: 20px;
        display: block;
        cursor: pointer;
        background-color: #ffffff; }
      #search-results paper-material #results li:hover {
        background-color: #efefef; }

#deck ul {
  height: 100%;
  opacity: 0; }
  #deck ul li.card {
    list-style: none;
    height: 290px;
    position: absolute;
    width: 290px;
    height: 290px;
    display: inline;
    margin-top: 80px;
    background-color: #ffffff; }

#error {
  height: 100%;
  width: 100%;
  background: url("../images/404.gif");
  background-size: cover;
  background-position: center center; }
  #error #error-content {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #error #error-content h1 {
      font-family: 'Roboto';
      font-size: 72pt;
      color: white; }
    #error #error-content h3 {
      font-family: 'Roboto';
      font-size: 18pt;
      font-weight: 200;
      color: white; }

/*# sourceMappingURL=style.css.map */
